.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: absolute;
  width: 800px;
  height: 450px;
}

.intro{
  position: absolute;
  right:0%;
  width: 1050px;
  height: 500px;
  box-shadow:  160px -1px 93px -56px rgba(4, 32, 160, 0.829) inset;
  background: black;
  background-clip: border-box;
  background-origin: border-box;  
  background-repeat: no-repeat;
  background-size: cover;
  pointer-events: none;
  -webkit-mask-image: url(https://donkeyclip.github.io/history-clip/server/assets/shape-right.png);
          mask-image: url(https://donkeyclip.github.io/history-clip/server/assets/shape-right.png);
  -webkit-mask-size: 1050px;
          mask-size: 1050px;          
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-position: 0 0;
          mask-position: 0 0;
  -webkit-mask-clip: content-box;
          mask-clip: content-box;
  
}
.background{
  width: 1050px;
  height: 500px;
  background-image: url({{initParams.intro.backgroundImage}});    
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat;
  filter:saturate(50%) sepia(100%) contrast(25%) saturate(170%);
}

.text-container{
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  width: 100%;
}

.word{
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.letter{
  position: relative;
  bottom: -100%;
}

.title{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 15px;
  color: aliceblue;
  font-size: 70px;
  font-family: 'Libre Caslon Text', serif;
  flex-wrap: wrap;
}

.subtitle{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  color: aliceblue;
  font-size: 30px;
  font-family: 'Libre Caslon Text', serif;
  flex-wrap: wrap;
}


